---
import { getSession } from "auth-astro/server"
import Layout from "../../layouts/Layout.astro"
import Search from "../../components/Search/SearchBar.astro"
import RecipeInstructions from "../../components/Recipe Instructions/recipeInstructions.astro"
import RecipesNav from "../../components/Recipes Nav/RecipesNav.astro"
import RecipeContainer from "../../sections/RecipeContainer.astro"

const session = await getSession(Astro.request)

if (!session) {
  return Astro.redirect("/")
}
---

<Layout title="Grocery Expert Recipes">
  <main class="min-h-screen flex flex-col text-black m-5 pt-[4rem] bg-white overflow-x-hidden">
    <Search />
    <RecipesNav />
    <div class="border border-secondary-color w-full mb-4"></div>
    <RecipeInstructions />
    <RecipeContainer />
  </main>
</Layout>