---
import CldImage from "../../utils/CldImage.astro"
---

<section class="card bg-tertiary-color mt-8 overflow-hidden h-60">
  <div class="card-body relative p-0">
    <div class="flex flex-col gap-16 p-4">
      <h2 class="card-header">Healthy, Quick, Easy Recipes for Balanced Eating</h2>
      <div class="card-footer">
        <a class="bg-main-color hover:bg-main-color/90 text-white font-semibold btn" href="/recipes/">
          View Now
        </a>
      </div>
    </div>
    <CldImage src="cooked-chicken" alt="cooked chicken" width="1600" height="2900" class="w-60 h-52 absolute top-12 right-0"/>
  </div>
</section>