---
import { getSession } from "auth-astro/server"
import Layout from "../../layouts/Layout.astro"
import Categories from "../../components/Cotegories/Categories.astro"
import Search from "../../components/Search/Search.astro"
import RecipeFeatureCard from "../../components/Recipe Feature Card/RecipeFeatureCard.astro"
import BuyItemsContainer from "../../sections/BuyItemsContainer.astro"
import { user } from "@/../db/schema"
import { db } from "@/turso"

const result = await db.select().from(user).all()

const session = await getSession(Astro.request)

if (!session) {
  return Astro.redirect("/")
}
---

<Layout title="Grocery Expert Pantry">
  <main class="min-h-screen flex flex-col text-black m-5 pt-[4rem] bg-white overflow-x-hidden">
    <Search />
    <Categories />
    <RecipeFeatureCard />
    <BuyItemsContainer />
  </main>
</Layout>