---
import { getSession } from "auth-astro/server"
import Layout from "../../layouts/Layout.astro"
import Categories from "../../components/Cotegories/Categories.astro"
import Search from "../../components/Search/Search.astro"
import RecipeCard from "../../components/Recipe Card/RecipeCard.astro"
import BuyItemsContainer from "../../sections/BuyItemsContainer.astro"

const session = await getSession(Astro.request)

if (!session) {
  return Astro.redirect("/")
}
---

<Layout title="Grocery Expert Pantry">
  <main class="min-h-screen flex flex-col text-black m-5 pt-[4rem] bg-white overflow-x-hidden">
    <Search />
    <Categories />
    <RecipeCard />
    <BuyItemsContainer />
  </main>
</Layout>