.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.recipes__container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.image__container {
  text-align: center;
  border-radius: 4px;
  padding: 1rem 0 0;
}

.image{
  width: 8rem;
}

.recipes__link {
  text-decoration: none;
}

.recipes__title {
  text-align: center;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.85);
  color: #fff;
}

.recipes__container h3 {
  font-weight: 400;
}
