---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Grocery Expert">
  <main>
    <div class="flex-grow flex items-center justify-center bg-gray-200">
      <div
        class="absolute inset-0 -z-10 h-full w-full bg-[#eff9f0] bg-[linear-gradient(to_right,#ebebeb,transparent_1px),linear-gradient(to_bottom,#ebebeb,transparent_1px)] bg-[size:6rem_4rem]"
      >
      </div>
    </div>

    <div class="image">
      <img src="/pictures/groceries.webp" alt="Groceries image" />
    </div>

    <p>sdfgdfgsdfgdf</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1rem; */
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 1em;
    color: white;
    text-shadow: 5px 5px 5px #001e03;
  }

  .title {
    z-index: 2;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .scroller {
    display: grid;

    & > * {
      grid-area: 1/1;
    }
    .mask {
      z-index: 2;
      /* height: 20rem; */
      mix-blend-mode: lighten;
      background: #eff9f0;
    }
  }
  path {
    stroke-width: 50;
    stroke: black;
  }

  img {
    width: 100%;
    object-fit: cover;
    mask-image: linear-gradient(black 80%, transparent);
  }
  .image {
    opacity: 1;
  }
</style>
