---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Grocery Expert">
  <main>
    <div class="scroller">
      <div class="mask">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          direction="ltr"
          width="788.8384423933398"
          height="309.494094798486"
          viewBox="555.6080414533919 124.7702038741605 788.8384423933398 309.494094798486"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="background-color: transparent;"
          ><defs></defs><g transform="matrix(1, 0, 0, 1, 784.2765, 170.2449)"
            ><g transform="scale(1)"
              ><path
                d="M0,-2.7905 T1.7065,-2.7569 5.6413,-3.0811 10.5841,-3.9609 16.8362,-5.261 24.7582,-6.8032 34.0631,-8.4806 44.1161,-10.0638 54.583,-11.4302 65.7383,-12.8445 77.5138,-13.9547 89.9653,-14.5569 103.2477,-14.8793 117.3224,-15.0516 132.8583,-15.1434 149.36,-15.1919 165.2072,-15.0462 179.6952,-14.4516 193.0877,-13.4413 205.6926,-12.2036 217.5481,-10.668 228.9642,-8.9772 239.9514,-7.3759 250.5852,-5.6425 261.1634,-3.8428 271.5189,-2.1835 281.4433,-0.593 290.4612,0.9622 298.6347,2.4944 306.6331,3.8332 314.6156,5.2544 322.059,6.7164 328.4602,7.8452 333.9048,8.9884 338.4455,10.0995 341.9861,10.9501 345.4212,11.7932 347.3409,12.2637 A2.2332,2.2332 0 0 1 345.3791,16.2763 T343.8579,15.6792 340.9678,14.5599 337.5878,13.4993 333.1871,12.3546 327.8621,11.2371 321.3982,10.0963 314.011,8.6434 306.0642,7.2295 297.9998,5.8799 289.8732,4.3562 280.898,2.8085 270.9739,1.2184 260.5856,-0.446 250.0309,-2.2414 239.4541,-3.9648 228.459,-5.5662 217.103,-7.2478 205.3545,-8.7684 192.8268,-9.9966 179.5505,-10.9963 165.1744,-11.5819 149.3713,-11.7196 132.881,-11.6604 117.3682,-11.5541 103.3374,-11.3625 90.1443,-11.0158 77.859,-10.3881 66.2082,-9.2373 55.0803,-7.753 44.7367,-6.3056 34.8,-4.6024 25.6245,-2.7617 17.8404,-0.9886 11.5916,0.6622 6.1534,2.0551 1.718,2.7569 0,2.7905 A2.7905,2.7905 0 0 1 0,-2.7905 ZM346.1749,16.4956 T345.3538,16.4765 342.8578,16.5279 338.5873,16.527 332.1866,16.3982 323.401,16.2961 312.4559,16.2176 299.9929,16.1583 286.9222,16.4571 273.4944,17.1257 259.8038,17.6557 246.5102,17.94 233.478,18.2616 219.8773,18.6053 205.6044,18.791 190.8184,18.8906 175.5794,18.9439 160.6092,18.9722 146.2982,18.9871 132.9045,19.3356 120.5049,20.0371 108.4282,20.7633 96.5486,21.5024 85.469,22.246 75.541,23.1598 66.5841,24.3358 58.2979,25.659 50.509,26.8981 42.8036,27.9201 35.0812,29.1491 27.6382,30.5008 20.5153,31.9185 13.7752,33.5375 7.3391,35.1078 0.9579,36.8109 -5.4243,38.5946 -11.4848,40.254 -17.1684,41.8374 -22.6108,43.541 -27.7796,45.3197 -32.6257,47.1354 -37.2681,49.1311 -41.8997,51.0914 -46.4744,53.0146 -50.9673,55.0675 -55.3233,57.0516 -59.2209,58.8572 -62.8074,60.7032 -66.2824,62.5859 -69.5473,64.3595 -72.6047,66.1663 -75.4827,67.9 -79.0841,70.0547 -82.6587,72.4113 -84.0392,73.4002 A2.6686,2.6686 0 0 1 -86.7374,68.7952 T-86.0263,68.441 -83.4361,67.114 -80.2263,65.4442 -77.581,64.1487 -74.6196,62.5787 -71.3518,60.8354 -68.0275,59.2351 -64.4277,57.4304 -60.6753,55.6413 -56.7491,53.9168 -52.3978,51.9347 -47.8086,49.8402 -43.2407,47.92 -38.6269,45.9668 -33.8349,43.9122 -28.8993,42.0627 -23.6396,40.2557 -18.0931,38.5197 -12.3947,36.9322 -6.3506,35.2774 0.0712,33.4834 6.5226,31.7618 12.9716,30.1883 19.8418,28.543 27.0252,27.112 34.5391,25.7503 42.3495,24.5059 49.9695,23.4961 57.7539,22.2575 66.1334,20.9207 75.2215,19.7298 85.2373,18.8076 96.3343,18.0622 108.221,17.3215 120.3099,16.5931 132.81,15.8866 146.294,15.5328 160.6021,15.514 175.5664,15.4805 190.7937,15.42 205.5572,15.3105 219.7856,15.1119 233.3882,14.7491 246.4303,14.4008 259.6588,14.0824 273.3052,13.5043 286.8263,12.7646 299.9911,12.369 312.4523,12.2992 323.392,12.2012 332.1616,12.0633 338.509,11.8686 342.5591,11.7467 345.3001,11.8916 346.5451,12.0444 A2.2332,2.2332 0 0 1 346.1749,16.4956 ZM-84.8093,68.4927 T-83.3335,68.782 -79.5021,69.2704 -74.3612,69.437 -68.3257,69.2378 -60.8887,68.8229 -51.8519,68.2793 -41.419,67.8291 -29.9181,67.4264 -17.177,66.8762 -2.3376,66.4118 13.6341,66.1638 30.0281,66.0328 46.4653,65.7935 62.9276,65.3236 80.1241,64.898 98.0459,64.4942 116.1895,64.102 133.955,63.8889 151.6705,63.7734 169.0165,63.7109 185.3039,63.6771 200.6738,63.6588 215.8865,63.649 231.5266,63.6438 247.0595,63.6409 261.8478,63.6395 275.5448,63.6387 287.9892,63.8119 299.583,64.2512 310.6895,64.8328 321.5273,65.4913 331.9094,66.3656 341.6755,67.3545 350.9027,68.2323 359.6919,69.0544 368.0741,69.8461 376.2314,70.6188 384.3035,71.5565 391.626,72.5819 397.9856,73.4794 403.8447,74.312 409.4819,75.2892 414.9471,76.3334 420.2678,77.2344 425.3979,78.0682 430.0938,78.8651 434.0778,79.5738 437.3451,80.201 441.2422,80.8569 446.0642,81.8568 448.4891,82.5105 A2.6747,2.6747 0 0 1 446.596,87.5137 T445.5388,87.0028 442.5292,85.7854 439.1889,84.7722 436.4121,84.0111 433.3651,83.1062 429.5141,82.2642 424.8451,81.4678 419.6926,80.6301 414.3009,79.716 408.8926,78.6809 403.3599,77.7219 397.5043,76.8897 391.1478,75.9927 383.9049,74.9766 375.9065,74.0477 367.7501,73.2751 359.3712,72.4836 350.5767,71.661 341.3287,70.7812 331.6178,69.7967 321.3182,68.9293 310.5091,68.2724 299.4516,67.6931 287.939,67.2558 275.545,67.0835 261.8482,67.0845 247.0602,67.0863 231.5278,67.0895 215.8888,67.0954 200.678,67.1061 185.3112,67.1255 169.029,67.1609 151.6934,67.2256 133.9968,67.344 116.2645,67.5607 98.1242,67.9588 80.2115,68.3705 63.0282,68.807 46.5193,69.2932 30.0597,69.5541 13.6936,69.7139 -2.2148,70.0003 -17.009,70.5186 -29.7721,71.1458 -41.2223,71.6502 -51.5703,72.239 -60.5825,72.9764 -68.0586,73.659 -74.3238,74.2199 -79.8326,74.518 -84.1726,74.1403 -85.9672,73.7028 A2.6686,2.6686 0 0 1 -84.8093,68.4927 ZM448.5254,87.4997 T447.7251,87.8622 444.5691,88.4077 439.2449,88.739 432.3736,88.9478 423.4461,89.0225 412.4389,89.0318 399.7762,89.0151 385.8647,88.9906 371.6169,88.966 357.7012,88.9445 344.1347,88.927 330.9521,89.0838 317.2702,89.3372 303.6375,89.4731 289.5414,89.5453 274.6793,89.5834 260.7718,89.6033 247.8959,89.6135 235.408,89.6186 222.7891,89.621 210.1248,89.7951 197.6074,90.2333 185.8347,90.8129 174.4627,91.47 162.6188,92.1696 150.5235,92.8922 139.1548,93.6267 128.5463,94.5389 117.975,95.5507 107.5749,96.4453 97.1202,97.2741 86.4897,98.2357 76.1138,99.4393 65.8437,100.7799 55.4309,102.0281 44.9436,103.0522 34.469,104.1192 24.0017,105.3829 13.8308,106.588 4.0198,107.7561 -5.4254,108.9043 -14.1472,110.0399 -22.2769,111.3382 -30.0881,112.8934 -37.6223,114.429 -45.151,115.9518 -52.8148,117.6316 -60.0816,119.2318 -66.5339,120.939 -72.6547,122.5647 -78.5493,124.1339 -84.0958,125.8279 -89.4622,127.7573 -94.7345,129.9898 -100.2341,132.2557 -105.6517,134.3563 -110.7651,136.4992 -115.9175,138.8532 -120.9725,141.172 -125.9966,143.3079 -130.8125,145.1687 -135.1056,146.8559 -139.2443,148.7629 -143.3247,150.9686 -147.5309,153.0747 -151.7048,155.0764 -155.1759,157.1606 -158.4639,159.2374 -162.0905,161.1328 -165.1162,162.84 -167.9941,164.8688 -169.68,166.0803 A2.3952,2.3952 0 0 1 -172.3503,162.1031 T-170.4186,161.0922 -167.0363,159.2888 -163.8193,157.6923 -160.3793,156.038 -156.9809,154.1042 -153.1987,151.9677 -149.0769,149.9911 -144.9659,147.9276 -140.6812,145.6205 -136.3667,143.6409 -132.0532,141.9558 -127.3432,140.1405 -122.4089,138.0419 -117.3476,135.7201 -112.0932,133.3242 -106.8949,131.1446 -101.5468,129.0717 -96.0747,126.8171 -90.6254,124.5207 -85.1012,122.5338 -79.438,120.8092 -73.5363,119.2378 -67.4198,117.6131 -60.8238,115.8687 -53.5518,114.2672 -45.8312,112.5763 -38.307,111.0546 -30.7608,109.5169 -22.8206,107.9375 -14.5942,106.6254 -5.84,105.4853 3.6126,104.3363 13.4266,103.1678 23.589,101.9636 34.1201,100.693 44.609,99.6244 55.021,98.6087 65.3981,97.3646 75.7165,96.0182 86.1793,94.8058 96.8476,93.8406 107.2799,93.0136 117.647,92.1219 128.2511,91.1074 138.9317,90.1891 150.318,89.4532 162.4156,88.7301 174.2639,88.0297 185.6639,87.3704 197.4864,86.7877 210.0772,86.3466 222.7881,86.17 235.4061,86.165 247.8926,86.1563 260.766,86.1412 274.6693,86.1145 289.5214,86.067 303.6008,85.982 317.201,85.8288 330.9052,85.5507 344.1332,85.3593 357.6985,85.3302 371.6119,85.2876 385.8548,85.2241 399.7555,85.1279 412.3923,84.9797 423.331,84.7471 432.0795,84.3773 438.8069,83.7689 443.3586,83.2266 445.7583,82.7949 446.5597,82.5246 A2.6747,2.6747 0 0 1 448.5254,87.4997 ZM-168.7823,163.2249 T-168.6437,163.4855 -168.5051,163.7461 A2.465,2.465 0 0 1 -173.101,165.5301 T-173.1745,165.2443 -173.2481,164.9584 A2.3952,2.3952 0 0 1 -168.7823,163.2249 ZM-170.8469,162.1735 T-169.5947,162.1058 -165.9814,161.6437 -158.7408,160.5222 -147.4152,159.0716 -131.989,157.4524 -112.2982,155.5652 -90.0972,153.6972 -66.5308,152.0044 -43.0958,150.4054 -21.6081,149.0278 -1.1817,147.7693 20.0171,146.2317 41.6567,144.5401 63.0317,142.9365 83.9221,141.5515 103.8637,140.4562 123.276,139.5167 142.9326,138.8322 162.7049,138.2891 182.3535,137.6524 202.1218,136.9642 221.7681,136.0777 240.8486,135.0826 259.4483,134.0262 278.132,132.9362 297.5648,132.0002 317.5744,131.3197 337.3809,130.9492 356.0345,130.7479 373.3756,130.6384 390.0031,130.5789 405.9023,130.5465 420.7188,130.5289 434.2831,130.6906 446.341,131.2964 456.6838,132.1426 465.7541,133.1191 473.9489,134.1641 481.1293,135.0726 487.1172,135.9123 491.6477,136.6558 495.0905,137.1206 498.3291,137.4878 501.5453,138.2117 505.3904,139.1529 509.4921,139.7338 513.195,140.2053 515.0764,140.5509 A2.9798,2.9798 0 0 1 514.2236,146.4491 T512.484,145.9222 509.2703,145.1332 506.0861,144.2697 501.7932,142.7816 497.6894,141.5541 494.4389,140.917 490.9907,140.1727 486.6347,139.3223 480.6961,138.4894 473.5137,137.5806 465.3818,136.5422 456.4014,135.5752 446.1615,134.7347 434.2396,134.1342 420.7229,133.9731 405.9092,133.9908 390.0154,134.0231 373.3972,134.0827 356.0712,134.1921 337.445,134.3931 317.6916,134.7621 297.7309,135.441 278.333,136.3753 259.644,137.466 241.0279,138.5238 221.9239,139.5206 202.2419,140.4097 182.4654,141.0994 162.7999,141.7384 143.0534,142.2829 123.4435,142.969 104.0537,143.9119 84.1517,145.0111 63.2927,146.4028 41.9298,148.0176 20.2717,149.7273 -0.9621,151.2904 -21.3777,152.5798 -42.8459,153.9999 -66.2614,155.6577 -89.7722,157.4285 -111.9133,159.4045 -131.5371,161.44 -146.8121,163.2513 -157.9154,164.9549 -165.4581,166.4882 -169.4974,167.1257 -170.7592,167.1027 A2.465,2.465 0 0 1 -170.8469,162.1735 ZM514.6169,146.4796 T512.7833,146.471 508.8078,146.4798 503.7417,146.64 497.1573,147.0087 489.2311,147.3416 479.28,147.8313 466.1573,148.416 450.4001,148.7198 433.4817,149.2127 416.419,149.9845 399.2379,150.7405 380.4642,151.4894 359.9703,152.2378 339.23,152.9867 318.8697,153.7343 298.7147,154.4816 278.8429,155.2293 258.7816,155.9773 237.9299,156.7259 217.5102,157.4746 198.8889,158.3959 181.6016,159.7515 164.8143,161.1739 147.954,162.4645 130.9355,164.0208 114.6607,165.7216 99.4594,167.3316 85.0476,169.062 70.8872,171.0292 57.0205,173.1268 44.0102,175.2936 31.802,177.4968 20.375,179.7212 9.5124,181.7923 -1.5753,183.61 -12.569,185.2841 -22.815,186.8785 -32.4976,188.4291 -41.8753,189.9566 -51.263,191.4745 -61.0054,192.988 -70.7538,194.4947 -80.1585,195.9969 -89.3848,197.5002 -98.3065,199.1683 -106.7454,200.9284 -114.7848,202.5768 -122.4069,204.1584 -129.3134,205.5351 -135.449,206.7928 -141.1855,207.9907 -146.5157,209.1538 -151.4073,210.4575 -155.7964,211.7157 -159.8885,212.9253 -163.8158,214.1263 -167.1709,215.479 -170.1317,216.9473 -173.7892,218.7179 -177.6255,220.5544 -181.155,222.2585 -184.563,224.0554 -187.5691,226.1641 -190.6208,228.7079 -192.907,231.2752 -193.6482,232.5628 A3.2789,3.2789 0 0 1 -199.6887,230.0101 T-198.4355,228.2334 -195.9178,225.4232 -192.8177,222.8365 -189.7238,220.4159 -186.9354,218.8433 -183.594,217.4217 -179.7708,216.0244 -175.4887,214.5425 -171.7988,213.2178 -168.5319,211.8823 -164.8481,210.6041 -160.8742,209.4919 -156.7371,208.3353 -152.2941,207.1299 -147.2538,205.791 -141.8878,204.6194 -136.1431,203.42 -129.9837,202.157 -123.107,200.7861 -115.4765,199.2029 -107.4481,197.5567 -98.9408,195.7839 -89.9388,194.1009 -80.7018,192.5958 -71.2801,191.091 -61.5344,189.5847 -51.8129,188.0745 -42.429,186.5572 -33.0423,185.0283 -23.3449,183.4753 -13.0875,181.8792 -2.1332,180.2115 8.8679,178.4092 19.7157,176.3407 31.19,174.1073 43.4433,171.8964 56.5049,169.7212 70.4134,167.6175 84.6362,165.6422 99.0964,163.9059 114.3026,162.295 130.6213,160.5898 147.6911,159.0283 164.5238,157.7394 181.3313,156.3145 198.7159,154.9509 217.3834,154.0253 237.8056,153.2737 258.6522,152.5214 278.712,151.768 298.5852,151.0128 318.7407,150.2552 339.1022,149.4934 359.8397,148.7251 380.3187,147.9505 399.0752,147.1653 416.2476,146.3587 433.3653,145.5153 450.3091,144.9252 465.9431,144.4955 479.0408,143.7319 488.9481,143.0006 496.7382,142.3462 503.3019,141.5371 508.5492,140.798 512.7746,140.4875 514.6831,140.5204 A2.9798,2.9798 0 0 1 514.6169,146.4796 ZM-195.8909,228.1011 T-195.0771,228.2891 -192.7434,228.6399 -188.4153,229.032 -181.2006,229.2546 -170.4862,228.7639 -155.5904,227.3531 -136.3322,225.0796 -112.3148,221.982 -84.8466,218.428 -56.3426,215.1344 -26.9395,212.3239 5.1486,209.4328 39.9092,206.4946 75.6213,203.8703 111.4763,201.0766 148.7868,197.8473 186.5645,194.5478 223.7345,191.3833 261.6018,188.2918 299.6748,185.2404 336.3277,182.554 369.3022,180.5766 397.5336,179.3273 421.1242,178.6475 440.8117,178.278 457.5394,178.2504 471.9549,178.4087 484.0881,178.6665 494.1161,178.9776 502.3666,179.4934 508.7554,180.1161 513.365,180.4018 516.8434,180.6256 520.6098,180.807 524.58,181.039 527.403,181.3342 528.499,181.4246 A2.6657,2.6657 0 0 1 527.841,186.7154 T525.6682,186.3261 521.9426,185.5562 517.7446,184.6386 513.1145,183.9334 508.4277,183.5446 502.1366,182.9272 494.0107,182.4207 484.0105,182.1102 471.9176,181.8539 457.5418,181.6958 440.8752,181.7238 421.2217,182.0933 397.6833,182.7723 369.5072,184.0205 336.5792,185.997 299.951,188.6847 261.8835,191.7399 224.029,194.8361 186.8673,198.008 149.0879,201.3188 111.7492,204.5657 75.8809,207.3816 40.2108,210.0315 5.4733,213.008 -26.5872,215.9516 -55.9081,218.8291 -84.3459,222.2191 -111.7925,225.9134 -135.8206,229.2077 -155.1319,231.7518 -170.1966,233.5303 -181.1782,234.5017 -188.6567,234.8888 -193.7017,234.9464 -196.628,234.6822 -197.446,234.4718 A3.2789,3.2789 0 0 1 -195.8909,228.1011 Z"
                fill="none"></path></g
            ></g
          ></svg
        >
      </div>
      <div class="image">
        <img src="../../public/pictures/groceries.webp" alt="Groceries image" />
      </div>
      <div class="title">
        <h1>
          Welcome to <span class="inline-block">Grocery Expert</span>
        </h1>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 1em;
    color: white;
    text-shadow: 5px 5px 5px #001e03;
  }

  .title {
    z-index: 2;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .scroller {
    display: grid;

    & > * {
      grid-area: 1/1;
    }
    .mask {
      z-index: 2;
      height: 20rem;
      mix-blend-mode: lighten;
      background: #eff9f0;
    }
  }
  path {
    stroke-width: 50;
    stroke: black;
  }

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  .image {
    opacity: 0.94;
  }
</style>
