---
import { Icon } from 'astro-icon/components';

let logged = false;
---

<nav class="navbar navbar-sticky bg-primary-color/50 navbar-glass text-black">
  <div class="navbar-start">
    <a href="/">
      <img
        src="/pictures/logo.png"
        alt="groceries expert logo"
        class="h-8 w-30 navbar-item"
      />
    </a>
  </div>
  <div class="navbar-end">
    <div class="avatar avatar-ring avatar-md">
      <div class="dropdown-container">
        <div class="dropdown">
          <label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
            <!-- <img
              src="https://i.pravatar.cc/150?u=a042581f4e29026024d"
              alt="avatar"
            /> -->
            <Icon name="avatar" class="size-6" />
          </label>
          <div
            class="dropdown-menu dropdown-menu-bottom-left bg-white *:font-semibold"
          >
            <div
              class="flex justify-center items-center hover:bg-primary-color hover:rounded-md"
            >
              <Icon name="pantry" class="size-6" />
              <a
                tabindex="-1"
                class="dropdown-item text-sm hover:bg-primary-color">Pantry</a
              >
            </div>
            <div
              class="flex justify-center items-center hover:bg-primary-color hover:rounded-md"
            >
              <Icon name="recipies" class="size-6" />
              <a
                tabindex="-1"
                class="dropdown-item text-sm hover:bg-primary-color">Recipies</a
              >
            </div>
            {
              logged ? (
                <div class="flex justify-center items-center hover:bg-primary-color hover:rounded-md">
                  <Icon name="profile" class="size-6" />
                  <a class="dropdown-item text-sm hover:bg-primary-color">Profile</a>
                </div>
                <div class="flex justify-center items-center hover:bg-primary-color hover:rounded-md">
                  <Icon name="logout" class="size-6" />
                  <a class="dropdown-item text-sm hover:bg-primary-color">
                    Logout
                  </a>
                </div>
              ) : (
                <div class="flex justify-center items-center hover:bg-primary-color hover:rounded-md">
                  <Icon name="login" class="size-6" />
                  <a class="dropdown-item text-sm hover:bg-primary-color">
                    Login
                  </a>
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
