---

---

<nav class="navbar navbar-sticky bg-primary-color/50 navbar-glass text-black">
  <div class="navbar-start">
    <a href="/">
      <img
        src="/pictures/logo.png"
        alt="groceries expert logo"
        class="h-8 w-30 navbar-item"
      />
    </a>
  </div>
  <div class="navbar-end">
    <div class="avatar avatar-ring avatar-md">
      <div class="dropdown-container">
        <div class="dropdown">
          <label class="btn btn-ghost flex cursor-pointer px-0" tabindex="0">
            <!-- <img
              src="https://i.pravatar.cc/150?u=a042581f4e29026024d"
              alt="avatar"
            /> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon icon-tabler icons-tabler-filled icon-tabler-user"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
              ></path><path
                d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
              ></path></svg
            >
          </label>
          <div
            class="dropdown-menu dropdown-menu-bottom-left bg-white *:font-semibold"
          >
            <div
              class="flex justify-center items-center hover:bg-primary-color hover:rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
                ></path><path d="M9 11v-5a3 3 0 0 1 6 0v5"></path></svg
              >
              <a
                tabindex="-1"
                class="dropdown-item text-sm hover:bg-primary-color">Pantry</a
              >
            </div>
            <div
              class="flex justify-center items-center hover:bg-primary-color hover:rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-tools-kitchen"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 3h8l-1 9h-6z"></path><path d="M7 18h2v3h-2z"
                ></path><path d="M20 3v12h-5c-.023 -3.681 .184 -7.406 5 -12z"
                ></path><path d="M20 15v6h-1v-3"></path><path d="M8 12l0 6"
                ></path></svg
              >
              <a
                tabindex="-1"
                class="dropdown-item text-sm hover:bg-primary-color">Recipies</a
              >
            </div>
            <div
              class="flex justify-center items-center hover:bg-primary-color hover:rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-user"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
                  d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
              >
              <a class="dropdown-item text-sm hover:bg-primary-color">Profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
