---
interface Props {
  type: "submit" | "button" | "reset"
  className: string
  id?: string
}

const { className, ...props } = Astro.props
---
<button class:list={`${className} btn`} {...props}>
  <slot />
</button>