---
import BuyItemsCard from "../components/Buy Items Card/BuyItemsCard.astro"
---

<section class="mt-8">
  <div class="flex justify-between items-baseline">
    <h2 class="text-lg font-extrabold tracking-wide mb-4">Shop Next</h2>
    <a class="text-main-color hover:underline" href="/">See All</a>
  </div>
  <BuyItemsCard/>
</section>