---
import BuyItemsCard from "../components/Buy Items Card/BuyItemsCard.astro"
---

<section class="mt-8">
  <div class="flex justify-between items-baseline">
    <h2 class="text-lg font-extrabold tracking-wide">Shop Next</h2>
    <a class="text-main-color hover:text-secondary-color" href="/">See All</a>
  </div>
  <div class="border border-secondary-color w-full mb-4"></div>
  <BuyItemsCard/>
</section>