---
import BuyItemsCard from "../components/Buy Items Card/BuyItemsCard.astro"
---

<section class="mt-8">
  <div class="flex justify-between items-baseline">
    <h2 class="text-lg font-extrabold tracking-wide mb-4">Shop Next</h2>
    <p class="text-main-color">See All</p>
  </div>
  <BuyItemsCard/>
</section>