---
import ProfileGeneralUpdate from "../components/Profile General Update/ProfileGeneralUpdate.astro"
import ProfilePersonalInfo from "../components/Profile Personal Info/ProfilePersonalInfo.astro"
---

<section class="mt-4 w-full relative">
  <ProfileGeneralUpdate />
  <ProfilePersonalInfo />

</section>